.imgContainer{
    display: inline-block;
    position: relative;
    width: 540px;
    height: 400px;
    margin-left: 15px;
    overflow: hidden;
}
.image{
    width: 100%;
    height: 100%;
}
.attractionImg{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: fade;
    animation-duration: 450ms;
}
@keyframes fade{
    from{opacity: .2;}
    to{opacity: 1;}
}
.preload{
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.loader{
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
    border: 12px solid #f3f3f3;
    border-top: 12px solid #3498db;
    border-right: 12px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loading 1s linear infinite;
}
.show{
    display: block;
}
@keyframes loading{
    0%{transform: rotate(0deg);}
    30%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
.prev{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-18px);
    background-image: url("/img/btn_leftArrow.png");
}
.next{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-18px);
    background-image: url("/img/btn_rightArrow.png");
}
.prev,.next{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    cursor: pointer;
    background-size: cover;
    z-index: 1000;
}
.prev:hover,.next:hover{
    transform: translateY(-20px);
}
.prev:active,.next:active{
    transform: translateY(-18px);
}
.dotList{
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    vertical-align: -10px;
}
.dot{
    z-index: 1000;
    box-sizing: border-box;
    border: 1px solid #fff;
    margin: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
.dot:nth-child(1){
    background-color: #000;
}
.dotShow{
    background-color: #000;
}
.dot:hover{
    background-color: #757575;
}
.dot:active{
    background-color: #000;
}
.description{
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    width: 600px;
    height: 400px;
    background-color: #fff;
    
}
h3{
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 24px;
    color: #666;
}
.catMrt{
    font-size: 16px;
    font-weight: 500;
    color: #666;
}
.order_area{
    width: 100%;
    height: 306px;
    margin-top: 20px;
    border-radius: 6px;
    background-color: #e8e8e8;
    color: #666;
    font-size: 16px;
}
.morning_reservation, .afternoon_reservation{
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
}
.morning_reservation:hover, .afternoon_reservation:hover{
    background-color: #448899;
}
.order_area span{
    margin-right: 8px;
}
.order_area >button{
    width: 154px;
    height: 36px;
    line-height: 18px;
    margin: 25px 20px;
    padding: 10px 20px;
    background-color: #448899;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    border: none;
    border-radius: 6px;
}
.order_area >button:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 2px 2px 0.5px #555;
}
.order_area >button:active{
    transform: translateY(0px);
    box-shadow: none;
}
.paragraph >p{
    padding: 10px;
    font-size: 16px;
}
.paragraph >div{
    padding: 10px; 
    font-size: 16px;
}
.location_title,.traffic_title{
    font-weight: 700;
}
@media(max-width:1200px){
    nav{
        width: 90%;
    }
    main{
        width: 90%;
    }
    .imgContainer{
        width: 40%;
    }
    .description{
        width: 52%;
    }
}
@media(max-width:740px){
    main{
        width: 100%;
    }
    .imgContainer{
        width: 100%;
        height: 350px;
        margin: 0;
    }
    .description{
        width: 94.5%;
        margin: 0px 10px 0px ;
        margin-bottom: 10px;
    }
    .order_area >button{
        margin: 25px 0px 15px 20px;
    }
    .paragraph >p{
        padding-left: 20px;
        padding-right: 10px;
    }
    .paragraph >div{
        padding-left: 20px;
        padding-right: 10px;
    }
    

}