main >hr{
    margin-top: 45px;
    border: 0.5px solid #e8e8e8;
}
.attraction_img{
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    margin-left: 110px;
    width: 250px;
    height: 200px;
}
.attraction_info{
    display: inline-block;
    margin-top: 35px;
}
.attraction_content{
    display: inline-block;
    margin: 15px 5px 0px 22px;
    font-size: 16px;
    font-family: 'Noto Sans TC';
    font-weight: 700;
    color: #666;
}
.attraction_title{
    display: inline-block;
    margin-left: 22px;
    font-size: 16px;
    font-family: 'Noto Sans TC';
    font-weight: 700;
    color: #448899;
}
span{
    font-size: 16px;
    font-family: 'Noto Sans TC';
    font-weight: 500;
    color: #666;
}
.title{
    margin-top: 44px;
    margin-left: 110px;
    font-size: 19px;
    font-family: 'Noto Sans TC';
    font-weight: 700;
    color: #666;
}
.content{
    display: inline-block;
    margin-top: 30px;
    margin-left: 110px;
    font-size: 16px;
    font-family: 'Noto Sans TC';
    font-weight: 500;
    color: #666;
}
input{
    box-sizing: border-box;
    width: 200px;
    height: 38px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    font-size: 16px;
    color: #757575;
}
.money{
    margin: 43px 110px 25px 0px;
    font-size: 16px;
    font-family: 'Noto Sans TC';
    font-weight: 500;
    color: #666;

}
main button{
    width: 173px;
    height: 36px;
    margin-right: 110px;
    padding: 10px 20px;
    line-height: 19px;
    background-color: #448899;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    color: #fff;
    cursor: pointer;
}
main button:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px #000;
}
main button:active{
    transform: translateY(0px);
    box-shadow: none;
}
