{% extends "base.html" %}
    {% block css %}
    <link rel="stylesheet" href="/css/attraction.css">
    {% endblock %}
    {% block body %}
    <main style="margin: 37px auto;">
        <div class="imgContainer" id="img">
            <div class="loader"></div>
            <div class="preload"></div>
            <a class="prev"></a>
            <a class="next"></a>
            <div class="dotList" id="dotList"></div>
        </div>
        <div class="description">
            <h3 id="attraction_name"></h3>
            <div class="catMrt">
                <span id="catMrt"></span>
                <span id="mrt"></span>
            </div>
            <div class="order_area">
                <div style="font-weight: 700; padding: 15px 20px; ">訂購導覽行程</div>
                <div style="font-weight: 500; padding-left: 20px; padding-bottom: 15px;">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <div>
                    <div style="display: inline;padding-left: 20px; font-weight: 700;">選擇日期：</div>
                    <input type="date" style="padding: 5px 10px; font-weight: 500;"/>
                </div>
                <div style="padding: 15px 20px; font-weight: 700;">
                    <div style="display: inline;">選擇時間：</div>
                    <div style="display: inline;">
                        <div class="morning_reservation"></div>
                        <span style="font-weight: 500;">上半天</span>
                        <div class="afternoon_reservation"></div>
                        <span style="font-weight: 500;">下半天</span>
                    </div>
                        
                </div>
                <div>
                    <div style="display: inline; padding-left: 20px; font-weight: 700;">導覽費用：</div>
                    <div style="display: inline; font-weight: 500;" id="money">請選擇方案</div>
                </div>
                <button>開始預約行程</button>
            </div>
        </div>
        <hr style="margin-top: 37px;"/>
    </main>
    <main>
        <div class="paragraph" >
            <p id="info"></p>
            <div class="location">
                <div class="location_title">景點地址：</div>
                <div class="location_content" id="address"></div>
            </div>
            <div class="traffic">
                <div class="traffic_title">交通方式：</div>
                <div class="traffic_content" id="transport"></div>
            </div>

        </div>
    </main>
    {% endblock %}
    {% block script %}
    <script type="module" src="/js/attraction.js"></script>
    {% endblock %}  