<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">
    {% block css %}{% endblock %}
    <title>Taipei Trip 台北一日遊</title>
</head>
<div class="grayscale"></div>  
<body>
    <div class="hint_container">
        <div class="hint"></div>
    </div>
    <header>
        <nav class="navbar">
            <a href="/"><div class="navbar_text">台北一日遊</div></a>
            <div class="navbar_list">
                <button class="reservation">預定行程</button>
                <button class="signin">登入/註冊</button>
            </div>
        </nav>
    </header>
    <div class="login_background">
        <img src="/img/icon_close.png" class="close"/>
        <div class="login_area">
            <h3>登入會員帳號</h3>
            <form id="login_form">
                <input type="email" placeholder="輸入電子信箱" name="email"/>
                <input type="password" placeholder="輸入密碼" name="password"/>
                <button type="button" class="login_btn">登入帳戶</button>
            </form>
            <a><div class="switch_to_register">還沒有帳戶？點此註冊</div></a>
        </div>
        <div class="register_area">
            <h3>註冊會員帳號</h3>
            <form id="register_form">
                <input type="text" required placeholder="輸入姓名" name="name" id="register_name"/>
                <input type="email" required pattern="^\w+@\w+(\.\w+)*\.\w+$" placeholder="輸入電子信箱" name="email" id="register_email"/>
                <input type="password" required pattern="\w{8,100}" placeholder="輸入密碼" name="password" id="register_password"/>
                <button type="button" class="register_btn">註冊新帳戶</button>
            </form>
            <a><div class="switch_to_login">已經有帳戶了？點此登入</div></a>
        </div>
    </div>
    {% block body %}{% endblock %}
    <footer>
        <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
    </footer>  
    {% block script %}{% endblock %}
    <script type="module" src="/js/user.js"></script>
</body>
</html>