{% extends "base.html" %}
    {% block css %}
    <link rel="stylesheet" href="/css/index.css">
    {% endblock %}
    {% block body %}
    <div class="hero_section">
        <div class="slogan">
            <div style="font-size: 28px;">輕鬆享受台北一日悠閒</div>
            <div style="font-size: 16px;">探索每個角落，體驗城市的深度旅遊行程</div>
            <input class="search" placeholder="輸入景點名稱查詢"/><button class="search_btn"></button>
            <div class="cat_list"></div>
        </div>
    </div>
    <main>
        <div class="attractions" id="root"></div>
    </main>
    {% endblock %}
    {% block script %}
    <script type="module" src="/js/index.js"></script>
    {% endblock %}