{% extends "base.html" %}
    {% block css %}
    <link rel="stylesheet" href="/css/member.css"/>
    {% endblock %}
    {% block body %}
    <main>
        <h2>會員中心</h2>
        <div class="order-list-title">
            <div>歷史訂單</div>
            <div class="arrow">&#9662</div>
        </div>
        <div style="width: 100%; position: relative;">
            <div class="order-list-container"></div>

        </div>
    </main>
    {% endblock %}
    {% block script %}
    <script type="module" src="/js/member.js"></script>
    {% endblock %}